# Ignore Dataset Directories due to size
Siena-Scalp-EEG-Database-v1.0.0/
Meta-EEG-of-Siena-Scalp-EEG-database/

#Ignore the .gitignore file
.gitignore

#Ignore merged_data.csv
merged_dataset.csv
epilepsy-test-data.csv

#Ignore expermintal code
experminetal-codes.ipynb
#DNN-expermient.ipynb

#Ignore model files
epilepsy_prediction_model.pkl
cnn_epilepsy_prediction_model.pkl
cnn_epilepsy_prediction_model.h5
rnn_epilepsy_prediction_model.h5
AdaBoost_epilepsy_prediction_model.pkl
Random Forest_epilepsy_prediction_model.pkl
SVM_epilepsy_prediction_model.pkl
XGBoost_epilepsy_prediction_model.pkl
Balanced Random Forest_epilepsy_prediction_model.pkl